<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--受け取ったtitleを置き換える-->
    <title th:replace="${title}">(default title)</title>
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <style>
    .imagePreview {
        width: 180px;
        height: 180px;
        background-position: center center;
        background-size: cover;
        -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
        display: inline-block;
    }
    </style>
</head>
<header th:fragment="header">
    <div class="text-muted fixed-top text-center bg-info p-2">
        <form action="#" th:action="@{/logout}" method="post">
            <div class="mt-3 d-flex justify-content-end">
                <button type="submit" class="btn btn-secondary">ログアウト</button>
            </div>
        </form>
    </div>
</header>
<div>　</div><div>　</div><div>　</div>
<body>
    <div class="btn-submit"></div>
    <div class="container" th:insert="${content}"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
    <script>
        $(document).on('change', ':file', function() {
            var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.parent().parent().next(':text').val(label);

            var files = !!this.files ? this.files : [];
            if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support
            if (/^image/.test( files[0].type)){ // only image file
                var reader = new FileReader(); // instance of the FileReader
                reader.readAsDataURL(files[0]); // read the local file
                reader.onloadend = function(){ // set image data as background of div
                    input.parent().parent().parent().prev('.imagePreview').css("background-image", "url("+this.result+")");
                }
            }
        });
        </script>
</body>
<div>　</div><div>　</div>
<footer th:fragment="footer">
    <div class="text-muted fixed-bottom text-center bg-info p-2 mb-0">　</div>
</footer>
</html>