<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>ユーザー一覧 | ECサイト アプリケーション</title>
</head>
<body>
    <h1 class="mt-3">ユーザー一覧</h1>
    <a href="../index.html" th:href="@{/}">トップページ</a>
    <a href="../creationForm.html" th:href="@{/users/creationForm}">ユーザー登録</a>
    <table class="table">
        <thead>
            <tr><th>#</th><th>ユーザー名</th><th>ユーザー権限</th><th>所属会社</th><th>住所</th><th>電話番号</th></tr>
        </thead>
        <tbody>
            <tr th:each="user : ${userList}">
                <th th:text="${user.id}">(id)</th>
                <td><a href="./updateForm.html" th:href="@{/users/{userId}(userId=${user.id})}" th:text="${user.userName}">(userName)</a></td>
                <td th:text="${user.authority}">(authority)</td>
                <td th:text="${user.campany}">(campany)</td>
                <td th:text="${user.address}">(address)</td>
                <td th:text="${user.phone}">(phone)</td>
            </tr>
        </tbody>
    </table>
    <nav>
        <ul class="pagination pg-blue justify-content-center">
            <li th:if="${startPage} > 1" class="page-item ">
                <a class="page-link" th:href="@{'/users?limit=10&offset=0'}"　tabindex="-2">最初</a>
            </li>
            <li th:if="${page} > 1" class="page-item ">
                <a class="page-link" th:href="@{'/users?limit=10&offset=' + ${preOffset} }"　tabindex="-1">前へ</a>
            </li>
            <th:block th:if="${endPage}<=0">
                <li class="page-item " th:classappend="${i == page} ? active" th:each="i : ${startPage}">
                    <a class="page-link" th:href="@{'/users?limit=' + ${i}}" th:text="${i}"></a>
                </li>
            </th:block>
            <!-- StartPageからEndPageまでのページ数を表示する -->
            <th:block th:if="${endPage}>0">
                <li class="page-item " th:classappend="${i == page} ? active" th:each="i : ${#numbers.sequence(startPage , endPage)}">
                    <a class="page-link" th:href="@{'/users?limit=10&offset=' + ${i-1} +'0'}" th:text="${i}"></a>
                </li>
            </th:block>
            <li th:if="${page} < ${totalPage}" class="page-item ">
                <a class="page-link" th:href="@{'/users?limit=10&offset=' + ${endPage} + '0'}">次へ</a>
            </li>
            <li th:if="${endPage} < ${totalPage}" class="page-item ">
                <a class="page-link" th:href="@{'/users?limit=10&offset=' + ${totalPage-1} + '0'}">最後</a>
            </li>
        </ul>
    </nav>
</body>
</html>