<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>商品一覧 | ECサイトアプリケーション</title>
</head>
<body>
  <h5 class="mt-2">商品一覧</h5>
  <a href="../index.html" th:href="@{/}">トップページ</a>
  <a href="./creationForm.html" th:href="@{/items/creationForm}">作成</a>
      <div>
          <div class="container text-center">
              <div class="row">
                  <div class="col-sm-15 col-6" th:each="item : ${itemList}">
                      <div class="card">
                          <a href="./updateForm.html"
                             th:href="@{/items/{itemId}(itemId=${item.id})}">
                              <img th:if="!${item.itemImage}" th:src="${base64Data}" class="card-img-top">
                              <img th:if="${item.itemImage}" th:src=@{'data:image/png;base64,'+${item.itemImage}} class="card-img-top">
                          </a>
                          <div class="card-body">
                              <a href="./updateForm.html"
                                 th:href="@{/items/{itemId}(itemId=${item.id})}"
                                 th:text="${item.itemName}">(itemName)</a>
                              <p class="card-text" th:text="${item.price} + 円">(price)</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  <div class="mt-2"></div>
  <!-- ここからページング処理 -->
  <nav>
    <ul class="pagination justify-content-center">
      <li th:if="${startPage} > 1" class="page-item ">
        <a class="page-link" th:href="@{'/items?limit=10&offset=0'}"　tabindex="-2">最初</a>
      </li>
      <li th:if="${page} > 1" class="page-item ">
        <a class="page-link" th:href="@{'/items?limit=10&offset=' + ${preOffset} }"　tabindex="-1">前へ</a>
      </li>
      <th:block th:if="${endPage}<=0">
        <li class="page-item " th:classappend="${i == page} ? active" th:each="i : ${startPage}">
          <a class="page-link" th:href="@{'/items?limit=' + ${i}}" th:text="${i}"></a>
        </li>
      </th:block>
      <!-- StartPageからEndPageまでのページ数を表示する -->
      <th:block th:if="${endPage}>0">
        <li class="page-item " th:classappend="${i == page} ? active" th:each="i : ${#numbers.sequence(startPage , endPage)}">
          <a class="page-link" th:href="@{'/items?limit=10&offset=' + ${i-1} +'0'}" th:text="${i}"></a>
        </li>
      </th:block>
      <li th:if="${page} < ${totalPage}" class="page-item ">
        <a class="page-link" th:href="@{'/items?limit=10&offset=' + ${endPage} + '0'}">次へ</a>
      </li>
      <li th:if="${endPage} < ${totalPage}" class="page-item ">
        <a class="page-link" th:href="@{'/items?limit=10&offset=' + ${totalPage-1} + '0'}">最後</a>
      </li>
    </ul>
  </nav>
</body>
</html>