<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>課題一覧 | 課題管理アプリケーション</title>
</head>
<body>
  <h1 class="mt-3">商品一覧</h1>
  <a href="../index.html" th:href="@{/}">トップページ</a>
  <a href="./creationForm.html" th:href="@{/items/creationForm}">作成</a>
  <table class="table">
    <thead>
    <tr>
      <th>#</th><th>商品画像</th><th>商品名</th><th>商品概要</th><th>販売会社</th><th>販売価格（円）</th><th>在庫数（個）</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${itemList}">
      <th th:text="${item.id}">(id)</th>
      <td>
        <a href="./updateForm.html"
           th:href="@{/items/{itemId}(itemId=${item.id})}">
          <img th:if="!${item.itemImage}" th:src="${base64Data}" style="width: 50px;height: 50px;">
          <img th:if="${item.itemImage}" th:src="${item.itemImage}" style="width: 50px;height: 50px;">
        </a>
      </td>
      <td>
        <a href="./updateForm.html"
           th:href="@{/items/{itemId}(itemId=${item.id})}"
           th:text="${item.itemName}">
          (itemName)
        </a>
      </td>
      <td th:text="${item.description}">
        (description)
      </td>
      <td th:text="${item.company}">
        (company)
      </td>
      <td th:text="${item.price}">
        (price)
      </td>
      <td th:text="${item.stock}">
        (stock)
      </td>
    </tr>
    </tbody>
  </table>
  <!-- ここからページング処理 -->
  <nav>
    <ul class="pagination pg-blue justify-content-center">
      <li th:if="${startPage} > 1" class="page-item ">
        <a class="page-link" th:href="@{'/items?limit=10&offset=0'}"　tabindex="-2">最初</a>
      </li>
      <li th:if="${page} > 1" class="page-item ">
        <a class="page-link" th:href="@{'/items?limit=10&offset=' + ${preOffset} }"　tabindex="-1">前へ</a>
      </li>
      <th:block th:if="${endPage}<=0">
        <li class="page-item " th:classappend="${i == page} ? active" th:each="i : ${startPage}">
          <a class="page-link" th:href="@{'/items?limit=' + ${i}}" th:text="${i}"></a>
        </li>
      </th:block>
      <!-- StartPageからEndPageまでのページ数を表示する -->
      <th:block th:if="${endPage}>0">
        <li class="page-item " th:classappend="${i == page} ? active" th:each="i : ${#numbers.sequence(startPage , endPage)}">
          <a class="page-link" th:href="@{'/items?limit=10&offset=' + ${i-1} +'0'}" th:text="${i}"></a>
        </li>
      </th:block>
      <li th:if="${page} < ${totalPage}" class="page-item ">
        <a class="page-link" th:href="@{'/items?limit=10&offset=' + ${endPage} + '0'}">次へ</a>
      </li>
      <li th:if="${endPage} < ${totalPage}" class="page-item ">
        <a class="page-link" th:href="@{'/items?limit=10&offset=' + ${totalPage-1} + '0'}">最後</a>
      </li>
    </ul>
  </nav>
</body>
</html>